/* Login Page */

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #070013;
}

/* Login Card */

.login-container {
    width: 520px;
    padding: 40px;
    border-radius: 25px;
    background: #0c0c24;
    border: 1px solid #7b2cff;
    box-shadow: 0 0 20px rgba(123, 44, 255, 0.3);
}

/* Heading */

.login-container h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 40px;
}

/* Form */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Inputs */

.login-form input {
    width: 100%;
    padding: 18px;
    border-radius: 15px;
    border: 1px solid #7b2cff;
    background: #05051a;
    color: white;
    font-size: 18px;
    outline: none;
}

/* Placeholder */

.login-form input::placeholder {
    color: #888;
}

/* Button */

.login-form button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, #7b2cff, #b266ff);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover */

.login-form button:hover {
    transform: scale(1.03);
    opacity: 0.9;
}